#Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 96vh;
}

.MenuButton {
    font-size: 25px;
    background: none;
    border: none;
    color: inherit;
    padding: 10px;
}