#Menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    height: 96vh;
}

#MenuButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MenuButton {
    font-size: 25px;
    background: none;
    border: none;
    color: inherit;
    padding: 10px;
}

#MenuTitle {
    font-size: 70px;
    padding: 30px;
}