#Menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    height: 96vh;
}

#MenuButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.MenuButton {
    font-size: 35px;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    margin: 20px;
    padding: 10px 25px;
    border-radius: 6.5px;
}

#MenuTitle {
    font-size: 70px;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#MenuDesc {
    font-size: 25px;
}

#SnakeMenuButton {
    background-color: green;
}

#BunnyMenuButton {
    background-color: pink;
}

#BugMenuButton {
    background-color: khaki;
}

#FishMenuButton {
    background-color: orange;
}