#Menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    height: 96vh;
}

#MenuButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.MenuButton {
    font-size: 35px;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    margin: 30px;
    padding: 10px 25px;
    border-radius: 6.5px;
}

#MenuTitle {
    font-size: 70px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: "Poppins", sans-serif;
    padding-top: 25px;
    font-weight: 800;
    letter-spacing: 8px;
}

#MenuDesc {
    font-size: 25px;
}

#SnakeMenuButton {
    background-color: green;
    position: relative;
}

#SnakeMenuButton:hover{
    animation: WibbleSnake 0.5s ease-in-out infinite both;
}

@keyframes WibbleSnake {
    0% { transform: translateY(0px) }
    33% { transform: translateY(15px) }
    50% { transform: translateY(15px) }
    100% { transform: translateY(0px)}
}

#BunnyMenuButton {
    background-color: pink;
}

#BunnyMenuButton:hover {
    animation: BunnyBounce 5s ease-in-out infinite both;
}

/* squish & move down a bit */
@keyframes BunnyBounce {
    0% { transform: translateY(0px) }
    10% { transform: translateY(-5px); padding: 5px 35px; }
    50% { transform: translateY(15px); margin: 5px; }
    100% { transform: translateY(0px) }
}

#BugMenuButton {
    background-color: khaki;
}

#FishMenuButton {
    background-color: orange;
}

button {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: 500;
}